*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(./page1\ \(2\).png);
    background-size: cover;
    background-position: center;
    backdrop-filter:blur(4px);
    display: flex;
    font-family: 'Open Sans Condensed';
    justify-content: center;
}
.Add-card{
    width: 300px;
    height: 160px;
    position: absolute;
    border: 1.3px solid #F55C47;
    border-radius: 8px;
    background-color: white;
    box-shadow: 6px 6px 5px 1px lightgrey;
    text-align: center;
    top: 23%;
    left: 35%;
    
    
}
.heading{
    letter-spacing: 0.8px;
    font-size: 16px;
    font-weight: 600;
    color: #F55C47;
}
.add-button{
    padding: 5px 25px;
    color: white;
    background-color: red;
    border: 0px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 6%;

}

